.Content{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
}
#inner-card{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;

}